# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=

# Auth
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=30d

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# SendGrid
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_FROM_NAME=Hello Dose

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=


# Cal.com 
CALCOM_API_KEY=
CALCOM_BASE_URL=


# Vagaro 
VAGARO_API_KEY=
VAGARO_BASE_URL=

# App
CLIENT_URL=
WEBHOOK_BASE_URL=